.preview-module-container {
  width: 100%;
  margin-bottom: 100px;
  .module-tag {
    background: var(--radio-button-active-background);
    color: var(--action-color);
    padding: 8px 12px;
    text-transform: uppercase;
    width: fit-content;
    border-radius: 2px;
    font-weight: 700;
    font-size: 0.9rem;
    margin-bottom: 20px;
  }
  .work-experience-title {
    font-size: 2.5rem;
    margin-bottom: 15px;
    font-weight: 800;
  }
  .work-experience-description {
    font-size: 1.1rem;
    font-weight: 500;
    line-height: 160%;
    color: var(--secondary-font);
  }
}

.skills {
  display: flex;
  flex-wrap: wrap;
  .skill {
    width: 180px;
    margin-bottom: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
    background: #f3f3f7;
    margin-right: 20px;
    border-radius: 10px;
  }
  h2, p {
    width: 100%;
    text-align: center;
  }
  h2 {
    font-size: 35px;
  }
  p {
    font-weight: 500;
    color: #46465a;
    font-size: 15px;
    margin-top: 4px;
  }
}

@media screen and (max-width: 1300px) {
  .preview-module-container {
    margin-bottom: 70px !important;
  }
}


@media screen and (max-width: 700px) {
  .module-tag {
    margin: 0 auto;
    margin-bottom: 20px;
  }
  .skill {
    width: 46% !important;
    margin: 0px !important;
    margin-top: 30px !important;
  }
  .skills {
    justify-content: space-between;
  }
}