html {
  --primary-background: #fff;
  --secondary-background: #F5F8FA;
  
  --modal-overlay-background: rgba(10,29,47,0.5);
  --modal-background: #fff;

  --action-color: #2564FD;
  --action-color-hovered: #184ed4;
  --primary-font: #21242E;
  --secondary-font: #717581;

  --tutorial-page-counter-dot-inactive: #dce1e7;
  --tutorial-page-counter-dot-active: #2564FD;

  --navbar-background: rgb(30, 34, 41);
  --navbar-border: #D8DEE3;
  --navbar-primary-font: #fff;


  --sidebar-border: #D8DEE3;
  --profile-image-border: #D8DEE3;

  --input-border: #D8DEE3;

  --disabled-button-background: #D8DEE3;
  --disabled-button-color: #6f7280;

  --radio-button-active-background: rgba(37, 98, 253, 0.1);

  --save-button-box-shadow: rgba(0,0,0, 0.1);

  --change-image-overlay-color: rgba(3, 58, 197, 0.5);

}