html {
  --primary-background: #fff;
  --secondary-background: #F5F8FA;
  
  --modal-overlay-background: rgba(10,29,47,0.6);
  --modal-background: #fff;

  --action-color: #2564FD;
  --action-color-hovered: #184ed4;
  --primary-font: #21242E;
  --secondary-font: #717581;

  --tutorial-page-counter-dot-inactive: #dce1e7;
  --tutorial-page-counter-dot-active: #2564FD;

  --navbar-background: rgb(30, 34, 41);
  --navbar-border: #D8DEE3;
  --navbar-primary-font: #fff;


  --sidebar-border: #D8DEE3;
  --profile-image-border: #D8DEE3;

  --input-border: #D8DEE3;

  --disabled-button-background: #D8DEE3;
  --disabled-button-color: #6f7280;

  --radio-button-active-background: rgba(37, 98, 253, 0.1);

  --save-button-box-shadow: rgba(0,0,0, 0.1);

  --change-image-overlay-color: rgba(3, 58, 197, 0.5);

  --profile-left-container-background: #101012;
  --profile-left-container-secondary-background: #1E2129;
  --profile-left-container-secondary-background-border: #353945;
  --profile-left-container-primary-font: #fff;
  --profile-left-container-secondary-font: #7A849A;

  --blue-loader-border: rgba(37, 98, 253, 0.2);
  --blue-loader-fill: #2564FD;

  --add-module-button-icon-background: #ebf0f3;
  --add-module-button-active-background: rgba(37, 98, 253, 0.1);

  --delete-module-button: #484c58;
  --delete-module-button-hovered: #d10000;


  --confirm-delete-module-button-hovered: #b80000;  
  --cancel-delete-module-button-hovered: var(--primary-font);

}