html {
  --primary-background: #fff;
  --secondary-background: #F0F2F5;
  
  --modal-overlay-background: rgba(10,29,47,0.5);
  --modal-background: #fff;

  --action-color: #2564FD;
  --action-color-hovered: #184ed4;
  --primary-font: #21242E;
  --secondary-font: #717581;

  --tutorial-page-counter-dot-inactive: #dce1e7;
  --tutorial-page-counter-dot-active: #2564FD;


  --navbar-border: #DEE5EF;
  --sidebar-border: #DEE5EF;
  --profile-image-border: #DEE5EF;

  --input-border: #DEE5EF;

  --disabled-button-background: #DEE5EF;
  --disabled-button-color: #777a86;

  --radio-button-active-background: rgba(37, 98, 253, 0.1);

  --save-button-box-shadow: rgba(0,0,0, 0.1);

}