.page-topbar {
    width: 100%;
    height: 80px;
    background: white;
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.2);
    border-bottom: 1px solid rgba(73, 72, 92, 0.2);
    z-index: 11;
    display: flex;
    .logo-container {
        position: relative;
        display: flex;
        height: fit-content;
        margin-left: 20px;
        .logo {
            width: 50px;
            height: 50px;
            background: #2564FD;
            border-radius: 5px;
        }
        h1 {
            position: relative;
            color: #21242E;
            font-size: 23px;
            margin-left: 15px;
            margin-top: 11px;
            height: fit-content;
            font-weight: 600;
        }
    }
    span {
        position: relative;
        height: fit-content;
        margin-left: 50px;
        color: #999DAA;
    }
}

.page-body {
    width: 100%;
    height: calc(100% - 80px);
    position: relative;
    display: flex;
    .page-left {
        width: 550px;
        height: 100%;
        z-index: 10;
        background: white;
        box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.15);
        border-right: 1px solid rgba(73, 72, 92, 0.15);
        padding: 20px;
        .input-element {
            width: 100%;
            height: fit-content;
            margin-bottom: 20px;
            span {
                font-size: 17px;
            }
            input {
                margin-top: 9px;
                width: 100%;
                height: 50px;
                outline: none;
                border: 1px solid #E7EDF4;
                padding-left: 12px;
                border-radius: 6px;
                font-size: 16px;
                &::placeholder {
                    color: #999DAA
                }
            }
            h6 {
                position: absolute;
                top: 0px;
                font-size: 16px;
                right: 0px;
                color: #999DAA;
                font-weight: 400;
                letter-spacing: 0px;
            }
            textarea {
                margin-top: 6px;
                width: 100%;
                height: 150px;
                resize: none;
                outline: none;
                border: 1px solid #E7EDF4;
                padding-left: 12px;
                border-radius: 6px;
                font-size: 16px;
                padding-top: 15px;
                &::placeholder {
                    color: #999DAA
                }
            }
        }
        .avatar-container {
            width: 100%;
            height: fit-content;
            .avatar {
                width: 170px;
                height: 170px;
                margin: 0 auto;
                cursor: pointer;
                background-color: #f0f2f5;
                border-radius: 50%;
                border: 1px solid #D3D9DE;
                margin-top: 40px;
            }
            button {
                position: relative;
                margin-top: 20px;
                margin-bottom: 40px;
                background: transparent;
                font-size: 17px;
                color: #2564FD;
                font-weight: 500;
                outline: none;
                border: none;
                cursor: pointer;
            }
        }
    }
    .page-right {
        background: #f0f2f5;
        width: calc(100% - 550px);
        height: 100%;
    }
}