.page-container {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

#avatar-upload-input {
  display: none;
}

.nav-container {
  width: 100%;
  height: 65px;
  min-height: 65px;
  background: var(--primary-background);
  z-index: 3;
  border-bottom: 1px solid var(--navbar-border);
  .nav-content-container {
    width: calc(100% - 40px);
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    margin: 0 auto;
    .navbar-left-container {
      display: flex;
      align-items: center;
      height: 100%;
      .title-container {
        display: flex;
        align-items: center;
        h1 {
          font-size: 1.2rem;
          font-weight: 600;
        }
        .logo-container {
          background: var(--action-color);
          width: 40px;
          height: 40px;
          border-radius: 4px;
          margin-right: 10px;
          img {
            width: 24px;
            height: 24px;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
          }
        }
      }
      
    }
    .navbar-right-container {
      height: 100%;
      display: flex;
      align-items: center;
      .account-dropdown-button {
        background: transparent;
        border: none;
        outline: none;
        display: flex;
        cursor: pointer;
        align-items: center;
        &:hover {
          svg {
            *:not(rect) {
              stroke: var(--action-color);
            }
          }
        }
        img, .profile-image {
          width: 44px;
          height: 44px;
          border-radius: 44px;
          margin-right: 5px;
        }
        svg {
          width: 24px;
          height: 24px;
          stroke-width: 2.5px;
          *:not(rect) {
            transition: stroke .2s;
          }
        }
      }
      .account-dropdown-menu {
        position: absolute;
        right: 0;
        border: 1px solid var(--navbar-border);
        top: calc(100% + 15px);
        background: #fff;
        border-radius: 5px;
        z-index: 10;
        overflow: hidden;
        opacity: 0;
        pointer-events: none;
        transition: opacity .3s, top .3s;
        &.active {
          top: calc(100% + 5px);
          pointer-events: all;
          opacity: 1;
        }
        .menu-top-container {
          padding: 20px 15px;
          border-bottom: 1px solid var(--navbar-border);
          text-align: left;
          .account-name {
            font-size: 1.1rem;
            font-weight: 600;
            margin-bottom: 2px;
          }
          .account-email {
            font-size: 0.9rem;
            font-weight: 400;
            color: var(--secondary-font);
          }
        }
        .account-menu-button {
          padding: 12px 15px;
          width: 100%;
          cursor: pointer;
          text-align: left;
          background: transparent;
          font-size: 1rem;
          font-weight: 500;
          border: none;
          &:hover {
            background: var(--action-color);
            color: #fff;
          }
        }
      }
      .share-link-button {
        border: none;
        background: transparent;
        border: none;
        cursor: pointer;
        display: flex;
        align-items: center;
        margin-right: 20px;
        transition: background .2s;
        &:hover {
          p {
            color: var(--action-color-hovered);
          }
          svg {
            *:not(rect) {
              stroke: var(--action-color-hovered);
            }
          }
        }
        svg {
          width: 24px;
          height: 24px;
          margin-right: 5px;
          *:not(rect) {
            stroke: var(--action-color);
            transition: stroke .2s;
          }
        }
        p {
          font-size: 1.05rem;
          font-weight: 500;
          color: var(--action-color);
          transition: color .2s;
        }
      }
    }
  }
}

.editor-container {
  width: 100%;
  height: 100%;
  display: flex;
  .sidebar-container {
    background: var(--primary-background);
    width: 500px;
    min-width: 500px;
    height: 100%;
    z-index: 2;
    border-right: 1px solid var(--sidebar-border);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    .sidebar-form-container {
      width: 100%;
      padding: 0 20px 40px;
      overflow-y: auto;
      overflow-x: hidden;
      height: calc(100% - 60px);
      .change-profile-image-button {
        border: none;
        background: transparent;
        cursor: pointer;
        margin: 50px auto 40px;
        display: block;
        &:hover {
          .profile-image .change-image-overlay {
            opacity: 1;
          }
          .button-text {
            color: var(--action-color-hovered)
          }
        }
        .profile-image {
          background-color: var(--secondary-background);
          background-size: cover;
          background-repeat: no-repeat;
          background-position: center;
          width: 180px;
          height: 180px;
          overflow: hidden;
          border-radius: 200px;
          border: 1px solid var(--profile-image-border);
          .change-image-overlay {
            background: var(--change-image-overlay-color);
            width: 100%;
            height: 100%;
            opacity: 0;
            backdrop-filter: blur(4px);
            transition: opacity .3s;
            svg {
              fill: #fff;
              width: 50px;
              height: 50px;
              position: absolute;
              top: 50%;
              left: 50%;
              transform: translate(-50%, -50%);
            }
          }
        }
        .button-text {
          font-size: 1rem;
          font-weight: 500;
          margin-top: 15px;
          color: var(--action-color);
          transition: color .2s;
        }
      }
      .show-email-button {
        width: 100%;
        padding: 0 20px;
        height: 72px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        cursor: pointer;
        border: none;
        background: transparent;
        border: 1px solid var(--input-border);
        border-radius: 4px;
        transition: border-color .2s, background .2s;
        &:hover {
          border-color: var(--action-color);
        }
        &.active {
          border-color: var(--action-color);
          background: var(--radio-button-active-background);
          .radio-button-dot {
            box-shadow: inset 0 0 0 6px var(--action-color) !important;
          }
          .radio-button-text-title,
          .radio-button-text-description {
            color: var(--action-color) !important;
          }
        }
        .button-left-container {
          display: flex;
          align-items: center;
          .radio-button-dot {
            width: 24px;
            height: 24px;
            border-radius: 24px;
            box-shadow: inset 0 0 0 2px var(--input-border);
            margin-right: 15px;
            background: var(--primary-background);
            transition: box-shadow .2s;
          }
          .radio-button-text-container {
            text-align: left;
          }
          .radio-button-text-title {
            font-weight: 400;
            font-size: 0.9rem;
            margin-bottom: 2px;
            color: var(--secondary-font);
            transition: color .2s;
          }
          .radio-button-text-description {
            font-weight: 700;
            color: var(--primary-font);
            font-size: 1rem;
            transition: color .2s;
          }
        }
      }
    }
    .save-button {
      width: 100%;
      height: 60px;
      min-height: 60px;
      border: none;
      outline: none;
      background: var(--action-color);
      cursor: pointer;
      font-weight: 600;
      overflow: hidden;
      font-size: 1.1rem;
      display: flex;
      align-items: center;
      justify-content: center;
      box-shadow: 0 0 20px 0 var(--save-button-box-shadow);
      transition: background .2s, color .2s, box-shadow .2s;
      &:hover {
        background: var(--action-color-hovered);
      }
      &.saving {
        pointer-events: none;
        background: var(--action-color-hovered);
        cursor: default;
        .loader-icon {
          opacity: 1;
          transition: none;
        }
        p {
          opacity: 0;
        }
      }
      &.disabled {
        cursor: not-allowed;
        box-shadow: none;
        background: var(--disabled-button-background);
        transition: color .2s, box-shadow .2s;
        p {
          color: var(--disabled-button-color);
        }
      }
      .loader-icon {
        position: absolute;
        opacity: 0;
      }
      p {
        color: #fff;
      }
    }
  }
  .module-editor-container {
    z-index: 1;
    width: 100%;
    height: 100%;
    background: var(--secondary-background);
    .add-module-button {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      background: var(--action-color);
      padding: 18px 30px;
      border-radius: 4px;
      border: none;
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: center;
      transition: background .2s;
      &:hover {
        background: var(--action-color-hovered);
      }
      svg {
        width: 24px;
        height: 24px;
        margin-right: 8px;
        *:not(rect) {
          stroke: #fff;
          stroke-width: 25px;
        }
      }
      p {
        color: #fff;
        font-size: 1rem;
        font-weight: 600;
      }
    }
  }
}

.form-input-container {
  width: 100%;
  margin-bottom: 15px;
  .label {
    font-weight: 500;
    font-size: 1rem;
    pointer-events: none;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 2;
    left: 15px;
    color: var(--secondary-font);
    transition: all .2s;
    &.active {
      top: calc(50% - 15px);
      font-size: 0.8rem;
    }
    .required {
      color: #da0000;
      margin-left: 1px
    }
  }
  input,
  textarea {
    width: 100%;
    padding: 34px 15px 15px;
    border-radius: 4px;
    border: 1px solid var(--input-border);
    outline: none;
    font-size: 1.1rem;
    font-weight: 500;
    transition: border-color .2s;
    &:focus {
      border-color: var(--action-color);
      & + .label {
        color: var(--action-color);
      }
    }
  }
  textarea {
    resize: none;
    height: 140px;
    overflow: hidden;
    & + .label {
      top: 25px;
      transform: none;
      &.active {
        top: 12px;
      }
    }
  }
  .bio-word-counter {
    position: absolute;
    top: 12px;
    font-weight: 500;
    color: var(--secondary-font);
    right: 15px;
    font-size: 0.8rem;
  }
}