<div class="page-container">
  <div class="nav-container">
    <div class="nav-content-container">
      <div class="navbar-left-container">
        <div class="title-container">
          <div class="logo-container">
            <img src="/assets/logo-white.png" class="noselect" alt="Grindstone Logo">
          </div>
          <h1 class="noselect">Grindstone</h1>
        </div>
      </div>
      <div class="navbar-right-container">
        <button class="share-link-button" (click)="openShareLinkModal();">
          <svg xmlns="http://www.w3.org/2000/svg" width="192" height="192" fill="#000000" viewBox="0 0 256 256"><rect width="256" height="256" fill="none"></rect><path d="M132.49413,61.28047l9.648-9.648a44,44,0,1,1,62.22539,62.22539l-30.28427,30.28428a44,44,0,0,1-62.2254,0" fill="none" stroke="#000000" stroke-linecap="round" stroke-linejoin="round" stroke-width="24"></path><path d="M123.50407,194.72133l-9.64621,9.6462a44,44,0,1,1-62.22539-62.22539l30.28427-30.28428a44,44,0,0,1,62.2254,0" fill="none" stroke="#000000" stroke-linecap="round" stroke-linejoin="round" stroke-width="24"></path></svg>
          <p>Share Link</p>
        </button>
        <div>
          <button class="account-dropdown-button" (click)="toggleAccountMenu();">
            <!-- <img [src]="user.get().profile_image_url" alt="Profile Picture"> -->
            <div class="profile-image reg-image" [ngStyle]="{'background-image': 'url(' + user.get().profile_image_url + ')'}"></div>
            <svg xmlns="http://www.w3.org/2000/svg" width="192" height="192" fill="#000000" viewBox="0 0 256 256"><rect width="256" height="256" fill="none"></rect><polyline points="208 96 128 176 48 96" fill="none" stroke="#000000" stroke-linecap="round" stroke-linejoin="round" stroke-width="24"></polyline></svg>
          </button>
          <div class="account-dropdown-menu" [ngClass]="{'active': accountMenuActive}">
            <div class="menu-top-container">
              <p class="account-name">{{this.user.get().name}}</p>
              <p class="account-email">{{this.user.get().email}}</p>
            </div>
            <button class="account-menu-button" (click)="openTutorialModal();">Tutorial</button>
            <!-- <button class="account-menu-button" (click)="navigateToSupport();">Support</button> -->
            <button class="account-menu-button" (click)="logout();">Logout</button>
          </div>
        </div>
        
      </div>
    </div>
  </div>
  <div class="editor-container">
    <div class="sidebar-container">
      <div class="sidebar-form-container">
        <input type="file" (change)="avatarUploadInputChange($event)" id="avatar-upload-input">
        <button class="change-profile-image-button" (click)="avatarUploader();">
          <div class="profile-image" [ngStyle]="{'background-image': 'url(' + user.get().profile_image_url + ')'}">
            <div class="change-image-overlay">
              <svg xmlns="http://www.w3.org/2000/svg" width="192" height="192" fill="#000000" viewBox="0 0 256 256"><rect width="256" height="256" fill="none"></rect><path d="M168.001,100.00017v.00341a12.00175,12.00175,0,1,1,0-.00341ZM232,56V200a16.01835,16.01835,0,0,1-16,16H40a16.01835,16.01835,0,0,1-16-16V56A16.01835,16.01835,0,0,1,40,40H216A16.01835,16.01835,0,0,1,232,56Zm-15.9917,108.6936L216,56H40v92.68575L76.68652,112.0002a16.01892,16.01892,0,0,1,22.62793,0L144.001,156.68685l20.68554-20.68658a16.01891,16.01891,0,0,1,22.62793,0Z"></path></svg>
            </div>
          </div>
          <p class="button-text">Change profile picture</p>
        </button>
        <div class="form-input-container">
          <input type="text" data-profileKey="display_name" [value]="profileFormData.display_name" id="profile-name-input" (focus)="formInputFocused($event)" (blur)="formInputBlurred($event);" (input)="formKeyup($event);">
          <p class="label" [ngClass]="{'active': oldProfileFormData.display_name?.length || 0 > 0}">Display Name<strong class="required">*</strong></p>
        </div>
        <div class="form-input-container">
          <input type="text" data-profileKey="pronouns" [value]="profileFormData.pronouns" id="profile-pronouns-input" (focus)="formInputFocused($event)" (blur)="formInputBlurred($event);" (input)="formKeyup($event);">
          <p class="label" [ngClass]="{'active': oldProfileFormData.pronouns?.length || 0 > 0}">Pronouns</p>
        </div>
        <div class="form-input-container">
          <textarea type="text" data-profileKey="bio" [value]="profileFormData.bio" id="profile-bio-input" [maxLength]="maxBioCharacterCount" (keydown)="preventEnterKey($event);" (input)="trackBioWordCount($event); formKeyup($event);" (focus)="formInputFocused($event)" (blur)="formInputBlurred($event);" data-gramm_editor="false" data-enable-grammarly="false" data-gramm="false"></textarea>
          <p class="label" [ngClass]="{'active': oldProfileFormData.bio?.length || 0 > 0}">Biography</p>
          <p class="bio-word-counter" *ngIf="bioCharacterCount > 0">{{bioCharacterCount}}/{{maxBioCharacterCount}}</p>
        </div>
        <div class="form-input-container">
          <input type="text" data-profileKey="location" [value]="profileFormData.location" id="profile-location-input" (focus)="formInputFocused($event)" (blur)="formInputBlurred($event);" (input)="formKeyup($event);">
          <p class="label" [ngClass]="{'active': oldProfileFormData.location?.length || 0 > 0}">Location</p>
        </div>
        <div class="form-input-container">
          <input type="text" data-profileKey="external_link" [value]="profileFormData.external_link" id="profile-website-input" (focus)="formInputFocused($event)" (blur)="formInputBlurred($event);" (input)="formKeyup($event);">
          <p class="label" [ngClass]="{'active': oldProfileFormData.external_link?.length || 0 > 0}">Website URL</p>
        </div>
        <button class="show-email-button active" (click)="toggleShowEmail($event);" [ngClass]="{'active': profileFormData.display_email}">
          <div class="button-left-container">
            <div class="radio-button-dot"></div>
            <div class="radio-button-text-container">
              <p class="radio-button-text-title">Show email:</p>
              <p class="radio-button-text-description">{{user.get().email}}</p>
            </div>
          </div>
        </button>
      </div>
      <button class="save-button" (click)="saveProfileData($event);" [ngClass]='{"saving": saveButtonStatus === "saving", "disabled": saveButtonStatus === "disabled"}'>
        <div class="loader-icon"></div>
        <p>Save</p>
      </button>
    </div>
    <div class="module-editor-container">
      <div class="module-components"></div>
      <button class="add-module-button">
        <svg xmlns="http://www.w3.org/2000/svg" width="192" height="192" fill="#000000" viewBox="0 0 256 256"><rect width="256" height="256" fill="none"></rect><line x1="40" y1="128" x2="216" y2="128" fill="none" stroke="#000000" stroke-linecap="round" stroke-linejoin="round" stroke-width="24"></line><line x1="128" y1="40" x2="128" y2="216" fill="none" stroke="#000000" stroke-linecap="round" stroke-linejoin="round" stroke-width="24"></line></svg>
        <p class="button-text">Add Module (0/5)</p>
      </button>
    </div>
  </div>
</div>

<app-share-link [url]="profileLink"></app-share-link>
<grindstone-video *ngIf="showVideoComp"></grindstone-video>
<app-tutorial></app-tutorial>