.modal-container {
  background: var(--modal-background);
  width: 600px;
  border-radius: 5px;
  box-shadow: 0 10px 30px 0 rgba(0,0,0,0.1);
  padding: 20px 20px 40px;
}

.copy-link-container input {
  position: absolute;
  left: 135px;
  font-size: 1.1rem;
  font-weight: 500;
  border: none;
  color: #2250bf;
  outline: none;
}

.modal-top-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  .modal-title {
    font-weight: 700;
    font-size: 1.4rem;
    color: var(--primary-font);
  }
  .close-button {
    border: none;
    background: transparent;
    cursor: pointer;
    padding: 5px;
    &:hover {
      svg *:not(rect) {
        stroke: var(--primary-font);
      }
    }
    svg {
      width: 26px;
      height: 26px;
      *:not(rect) {
        stroke: var(--secondary-font);
        transition: stroke .2s;
      }
    }
  }
}

.modal-subtitle {
  color: var(--secondary-font);
  font-size: 1rem;
}

.copy-link-container {
  margin-top: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  .link {
    font-size: 1.1rem;
    font-weight: 500;
    cursor: pointer;
    text-decoration: none;
    color: var(--primary-font);
    &:hover {
      text-decoration: underline;
    }
    strong {
      font-weight: 500;
      color: var(--action-color);
    }
  }
  .copy-link-button {
    background: var(--action-color);
    padding: 12px 20px;
    color: #fff;
    cursor: pointer;
    border: none;
    transition: background .2s;
    font-size: 1rem;
    font-weight: 500;
    border-radius: 3px;
    &:hover {
      background: var(--action-color-hovered);
    }
  }
}