<app-modal id="share-link" [allowClickOff]="true">
  <div class="modal-container">
    <div class="modal-top-container">
      <h1 class="modal-title">Share your profile</h1>
      <button class="close-button" (click)="close();">
        <svg xmlns="http://www.w3.org/2000/svg" width="192" height="192" fill="#000000" viewBox="0 0 256 256"><rect width="256" height="256" fill="none"></rect><line x1="200" y1="56" x2="56" y2="200" fill="none" stroke="#000000" stroke-linecap="round" stroke-linejoin="round" stroke-width="24"></line><line x1="200" y1="200" x2="56" y2="56" fill="none" stroke="#000000" stroke-linecap="round" stroke-linejoin="round" stroke-width="24"></line></svg>
      </button>
    </div>
    <p class="modal-subtitle">Copy and paste the link below to share your Grindstone profile.</p>
    <div class="copy-link-container">
      <a class="link" href="https://grst.one/{{url}}" target="_blank">https://grst.one/<strong>{{url}}</strong></a><input *ngIf="url == ''" id="claim-url-input-s" type="text" placeholder="Enter a Url" (keydown.space)="$event.preventDefault();">
      <button class="copy-link-button" *ngIf="url !== ''" (click)="copyLink();">Copy Link</button>
      <button class="copy-link-button" *ngIf="url == ''" (click)="claimLink();">Claim Link</button>
    </div>
  </div>
</app-modal>