
#recorder {
    transform: rotateY(180deg);
    -webkit-transform:rotateY(180deg); /* Safari and Chrome */
    -moz-transform:rotateY(180deg); /* Firefox */
    background-color: #6f6f6f;
    video {
        width: 100%;
        height: 100%;
    }
}

.close {
    width: 30px;
    height: 30px;
    position: absolute;
    top: 19px;
    right: 19px;
    cursor: pointer;
}

.video-player {
    border-radius: 15px;
    padding: 55px;
    z-index: 80;
    position: fixed;
    background: white;
    display: none;
    border: 1px solid #2d2b381a;
    box-shadow: 0px 0px 10px 0px #00000024;
}

.video-container {
    width: fit-content;
    height: fit-content;
    border-radius: 15px;
    overflow: hidden;
    .splash {
        width: 100%;
        height: 100%;
        position: absolute;
        background-image: url('/assets/images/grindstone-deep-blue.png');
        z-index: 12;
    }
    .darken {
        width: 100%;
        height: 100%;
        position: absolute;
        background-color: black;
        opacity: 0.3;
        z-index: 10;
    }
    .done-button {
        display: inline-block;
        position: absolute;
        right: 50px;
        bottom: 50px;
        z-index: 13;
        background: #2fda6b;
        border: none;
        outline: none;
        cursor: pointer;
        width: 80px;
        height: 80px;
        border-radius: 50%;
        svg {
            width: 35px;
            height: 35px;
            stroke: white;
        }
    }
    .review-buttons {
        z-index: 12;
        display: none;
        &.restart-play {
            position: absolute;
            bottom: 50px;
            left: 50px;
            button {
                display: inline-block;
                position: relative;
                z-index: 13;
                background: #2fda6b;
                border: none;
                outline: none;
                cursor: pointer;
                width: 80px;
                height: 80px;
                border-radius: 50%;
                svg {
                    width: 35px;
                    height: 35px;
                    stroke: white;
                }
                &:nth-child(1) {
                    background: #fa3a4c;
                }
                &:nth-child(2) {
                    background: #0072ff;
                    margin-left: 20px;
                    svg {
                        left: 53%;
                    }
                }
            }
        }
    }
    .record-button {
        z-index: 11;
        width: 120px;
        height: 120px;
        background: #fa3a4c;
        color: white;
        border-radius: 50%;
        font-size: 23px;
        border: none;
        outline: none;
        outline: 15px solid #fa3a4c50;
        cursor: pointer;
        opacity: 0.85;
    }
    .puller {
        width: 0px;
        height: 100%;
        background: #fa3a4c30;
        position: absolute;
        transition: 1.5s cubic-bezier(0.26, 0.01, 0.29, 0.99);
        top: 0px;
        &.active {
            width: calc(50% - calc(100% / 3.5));
        }
        &.left-puller {
            left: 0px;
        }
        &.right-puller {
            right: 0px;
        }
    }
    span {
        color: white;
        opacity: 0.9;
        font-size: 5vw;
    }
    .record-control {
        width: 0px;
        cursor: pointer;
        height: 0px;
        border-radius: 50%;
        background: #fa3a4c30;
        z-index: 10;
        bottom: 25px;
        transition: .3s;
        &.active {
            width: 80px;
            height: 80px;
            .record-square {
                width: 35px;
                height: 35px;
            }
        }
        .record-square {
            background: #fa3a4c;
            width: 0px;
            height: 0px;
            transition: .5s;
            border-radius: 7px;
        }
    }
}
