.modal-container {
  background: var(--modal-background);
  width: 600px;
  border-radius: 5px;
  box-shadow: 0 10px 30px 0 rgba(0,0,0,0.1);
}

.modal-top-container {
  background-color: var(--secondary-background);
  height: 400px;
  width: 100%;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}

.modal-bottom-container {
  width: 100%;
  padding: 30px 20px;
}

.skip-button {
  position: absolute;
  top: 20px;
  right: 20px;
  background: transparent;
  color: var(--action-color);
  font-size: 1rem;
  cursor: pointer;
  border: none;
  font-weight: 500;
  padding: 0;
  transition: color .2s;
  &:hover {
    color: var(--action-color-hovered);
  }
}

.tutorial-content-container {
  width: 100%;
  margin-bottom: 50px;
  .title {
    font-size: 2rem;
    margin-bottom: 10px;
  }
  .description {
    color: var(--secondary-font);
    font-size: 1rem;
    line-height: 140%;
  }
}

.tutorial-page-controls {
  display: flex;
  align-items: center;
  justify-content: space-between;
  .tutorial-page-counter {
    display: flex;
    align-items: center;
    .dot {
      margin-right: 15px;
      width: 8px;
      height: 8px;
      border-radius: 8px;
      background: var(--tutorial-page-counter-dot-inactive);
      transition: background .2s;
      &.active {
        background: var(--tutorial-page-counter-dot-active);
      }
    }
  }
  .next-button {
    background: var(--action-color);
    color: #fff;
    font-weight: 500;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1rem;
    border: none;
    padding: 10px 25px;
    transition: background .2s;
    &:hover {
      background: var(--action-color-hovered);
    }
  }
}
