<app-modal id="tutorial" [allowClickOff]="false" [closeCb]="closeCb">
  <div class="modal-container">
      <div class="modal-top-container reg-image" [ngStyle]="{'background-image': 'url(' + tutorialPages[activeTutorialPage].imageUrl + ')'}">
        <button class="skip-button" (click)="close();">Skip</button>
      </div>
      <div class="modal-bottom-container">
        <div class="tutorial-content-container">
          <h1 class="title">{{tutorialPages[activeTutorialPage].title}}</h1>
          <p class="description">{{tutorialPages[activeTutorialPage].description}}</p>
        </div>
        <div class="tutorial-page-controls">
          <div class="tutorial-page-counter">
            <div class="dot" [ngClass]="{'active': activeTutorialPage >= index}" *ngFor="let i of tutorialPages; let index = index"></div>
          </div>
          <button class="next-button" (click)="next();">{{this.activeTutorialPage === this.tutorialPages.length - 1 ? "Finish" : "Next"}}</button>
        </div>
      </div>
  </div>
</app-modal>
