html {
  --primary-background: #fff;
  --secondary-background: #F0F2F5;
  
  --modal-overlay-background: rgba(10,29,47,0.5);
  --modal-background: #fff;

  --action-color: #2564FD;
  --action-color-hovered: #184ed4;
  --primary-font: #21242E;
  --secondary-font: #999DAA;

  --tutorial-page-counter-dot-inactive: #dce1e7;
  --tutorial-page-counter-dot-active: #2564FD;

}