html {
  --primary-background: #fff;
  --secondary-background: #F0F2F5;
  
  --modal-overlay-background: rgba(10,29,47,0.5);
  --modal-background: #fff;

  --action-color: #2564FD;
  --action-color-hovered: #1245c7;
  --primary-font: #21242E;
  --secondary-font: #999DAA;
}