<div class="center fullCenter">
    <div class="video-container">
        <div class="splash reg-image"></div>
        <div class="darken"></div>
        <button class="record-button fullCenter" (click)="recordButton();" *ngIf="deviceReady && !doneRecording">Record</button>
        <div class="review-buttons fullCenter">
            <button (click)="restartVideo()">Start Over</button>
            <button (click)="playVideo()">Play Recording</button>
        </div>
        <div class="record-control fullXCenter" *ngIf="showRecordControls" (click)="stopRecord()">
            <div class="record-square fullCenter"></div>
        </div>
        <video id="recorder" playsinline class="video-js vjs-default-skin"></video>
        <span class="time fullCenter" *ngIf="showTimeLeft">{{timeLeft}}</span>
        <div class="left-puller puller"></div>
        <div class="right-puller puller"></div>
    </div>
    <br>
    <br>
</div>
