
#recorder {
    background-color: #6f6f6f;
    video {
        width: 100%;
        height: 100%;
    }
}

.video-container {
    width: fit-content;
    height: fit-content;
    border-radius: 15px;
    overflow: hidden;
    .puller {
        width: 0px;
        height: 100%;
        background: #fa3a4c30;
        position: absolute;
        transition: 1.5s cubic-bezier(0.26, 0.01, 0.29, 0.99);
        top: 0px;
        &.active {
            width: calc(50% - 480px / 2);
        }
        &.left-puller {
            left: 0px;
        }
        &.right-puller {
            right: 0px;
        }
    }
    span {
        color: white;
        opacity: 0.9;
        font-size: 5vw;
    }
    .record-control {
        width: 0px;
        cursor: pointer;
        height: 0px;
        border-radius: 50%;
        background: #fa3a4c30;
        z-index: 10;
        bottom: 25px;
        transition: .3s;
        &.active {
            width: 80px;
            height: 80px;
            .record-square {
                width: 35px;
                height: 35px;
            }
        }
        .record-square {
            background: #fa3a4c;
            width: 0px;
            height: 0px;
            transition: .5s;
            border-radius: 7px;
        }
    }
}
