
<div class="video-player fullCenter">
    <div class="video-container">
        <div class="splash reg-image"></div>
        <div class="darken"></div>
        <button class="record-button fullCenter" (click)="recordButton();" *ngIf="deviceReady && !doneRecording">Record</button>
        <div class="review-buttons restart-play">
            <button (click)="restartVideo()">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="fullCenter"><polyline points="17 1 21 5 17 9"></polyline><path d="M3 11V9a4 4 0 0 1 4-4h14"></path><polyline points="7 23 3 19 7 15"></polyline><path d="M21 13v2a4 4 0 0 1-4 4H3"></path></svg>
                <!-- <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="fullCenter"><polyline points="3 6 5 6 21 6"></polyline><path d="M19 6v14a2 2 0 0 1-2 2H7a2 2 0 0 1-2-2V6m3 0V4a2 2 0 0 1 2-2h4a2 2 0 0 1 2 2v2"></path></svg> -->
            </button>
            <button (click)="playVideo()">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="fullCenter"><polygon points="5 3 19 12 5 21 5 3"></polygon></svg>
            </button>
        </div>
        <button (click)="done()" class="review-buttons done-button">
            <svg class="fullCenter" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><polyline points="20 6 9 17 4 12"></polyline></svg>
        </button>
        <div class="record-control fullXCenter" *ngIf="showRecordControls" (click)="stopRecord()">
            <div class="record-square fullCenter"></div>
        </div>
        <video id="recorder" playsinline class="video-js vjs-default-skin"></video>
        <span class="time fullCenter" *ngIf="showTimeLeft">{{timeLeft}}</span>
        <div class="left-puller puller"></div>
        <div class="right-puller puller"></div>
    </div>
</div>
    
