<div class="page-container">
  <div class="profile-container">
    <div class="profile-content-container">
      <img class="profile-image" [src]="portfolio.user.profile_image_url" alt="Profile picture">
      <h1 class="profile-display-name">{{portfolio.profile.display_name}}</h1>
      <p class="profile-pronouns" *ngIf="portfolio.profile.pronouns && !portfolio.profile.location">{{portfolio.profile.pronouns}}</p>
      <p class="profile-pronouns" *ngIf="!portfolio.profile.pronouns && portfolio.profile.location">{{portfolio.profile.location}}</p>
      <p class="profile-pronouns" *ngIf="portfolio.profile.pronouns && portfolio.profile.location">{{portfolio.profile.pronouns}} • {{portfolio.profile.location}}</p>
      <p class="profile-bio">{{portfolio.profile.bio}}</p>
      <div class="profile-buttons-container">
        <button class="profile-button" *ngIf="portfolio.profile.display_email"  (click)="buttonPress('email')">
          <p class="profile-button-icon">📬</p>
          <p class="profile-button-text">Email</p>
        </button>
        <button class="profile-button" *ngIf="portfolio.profile.external_link" (click)="buttonPress('external_link')">
          <p class="profile-button-icon">🔗</p>
          <p class="profile-button-text">Website</p>
        </button>
      </div>
    </div>
  </div>
  <div class="modules-container">
    <div class="modules-content-container">
      <ng-template #previewModulesContainer></ng-template>
    </div>
  </div>
</div>
