.page-container {
  display: flex;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.profile-buttons-container {
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.profile-button {
  padding: 10px 0;
  width: 180px;
  cursor: pointer;
  background: var(--profile-button-background);
  border: 1px solid var(--profile-button-border);
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background .2s, border .2s, box-shadow .2s;
  &:hover {
    background: var(--profile-button-background-hovered);
    border-color: var(--profile-button-border-hovered);
  }
  .profile-button-icon {
    font-size: 1.1rem;
    margin-right: 15px;
  }
  .profile-button-text {
    font-size: 1rem;
    font-weight: 600;
    color: #fff;
    transition: color .2s;
  }
  &:not(:last-child) {
    margin-right: 25px;
  }
}

.profile-container {
  width: 700px;
  min-width: 700px;
  height: 100%;
  background: var(--profile-left-container-background);
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  .profile-content-container {
    text-align: center;
    margin-top: -50px;
    .profile-image {
      width: 220px;
      height: 220px;
      border-radius: 220px;
      margin-bottom: 20px;
      border: 1px solid var(--profile-left-container-secondary-background-border);
    }
    .profile-display-name {
      color: var(--profile-left-container-primary-font);
      font-size: 2rem;
      font-weight: 800;
      margin-bottom: 5px;
    }
    .profile-pronouns {
      font-size: 1.1rem;
      color: var(--profile-left-container-secondary-font);
      font-weight: 400;
      margin-bottom: 20px;
    }
    .profile-bio {
      color: var(--profile-left-container-primary-font);
      font-size: 1.1rem;
      line-height: 150%;
      max-width: 90%;
      margin: 0 auto;
    }
  }
}

.modules-container {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  .modules-content-container {
    margin: 100px auto;
    width: 90%;
    max-width: 800px;
  }
}

@media screen and (max-width: 1300px) {
  .profile-container {
    width: 500px;
    min-width: 500px;
  }
  .profile-image {
    width: 180px !important;
    height: 180px !important;
  }
  .profile-display-name {
    font-size: 1.5rem !important;
  }
  .profile-bio {
    font-size: 1rem !important;
  }
}

@media screen and (max-width: 1000px) {
  .profile-container {
    width: 400px;
    min-width: 400px;
  }
  .profile-buttons-container {
      flex-direction: column;
      justify-content: center;
  }
  .profile-button {
    width: calc(100% - 20px);
    margin-right: 0 !important;
  }
  .profile-button:not(:last-child) {
    margin-bottom: 15px;
  }
}

@media screen and (max-width: 700px) {
  .page-container {
    display: flex;
    width: 100%;
    height: 100%;
    overflow: hidden;
    flex-wrap: wrap;
    overflow-y: auto;
  }
  .profile-container {
    width: 100%;
    min-width: 100%;
    height: fit-content;
  }
  .modules-container {
    height: fit-content;
  }
  .profile-image {
    width: 120px !important;
    height: 120px !important;
  }
  .profile-content-container {
    margin: 0px !important;
    margin-top: 50px !important;
    margin-bottom: 50px !important;
  }
}