<app-master-portfolio-module id="{{id}}" [moduleTitle]="data.title" [moduleIcon]="data.icon" [removeCallback]="data.removeCallback">
  <div class="form-container">
    <select id="selectskill">
      <option *ngFor="let skill of skills" value="{{skill.id}}">{{skill.name}}</option>
    </select>
    <input type="button" value="Add" id="addButton" (click)="addSkill()">
    <div class="skills-wrapper">
      <div class="skill" *ngFor="let skill of data.formData.skills" (click)="removeSkill(skill.id)">
        <div class="drp">
          <svg xmlns="http://www.w3.org/2000/svg" class="fullCenter" viewBox="0 0 512 512"><title>Close</title><path d="M289.94 256l95-95A24 24 0 00351 127l-95 95-95-95a24 24 0 00-34 34l95 95-95 95a24 24 0 1034 34l95-95 95 95a24 24 0 0034-34z"/></svg>
        </div>
        <h5 class="fullCenter">{{skill.icon}} {{skill.name}}</h5>
      </div>
    </div>
  </div>
</app-master-portfolio-module>
