.interest {
  background: #eff2f5;
  border: 1px solid #e3e3e3;
  width: 170px;
  margin-top: 20px;
  cursor: pointer;
  height: 60px;
  border-radius: 4px;
  margin-right: 20px;
  &:hover {
    .drp {
      opacity: 1;
    }
  }
  .drp {
    transition: .3s;
    opacity: 0;
    width: 100%;
    height: 100%;
    background-color: #00000091;
    z-index: 10;
    svg {
      fill: white;
      width: 35px;
    }
  }
  h5 {
    color: #242424;
    width: 100%;
    font-weight: 500;
    letter-spacing: 0.2px;
    text-align: center;
  }
  span {
    position: relative
  }
}

.interests-wrapper {
  width: 100%;
  height: fit-content;
  display: flex;
  padding-bottom: 40px;
}

#selectinterest {
  width: 170px;
  height: 40px;
  border: none;
  outline: none;
  border: 1px solid #00000036;
  border-radius: 3px;
  padding-left: 10px;
}

#addButton {
  height: 40px;
  width: 80px;
  margin-left: 20px;
  border: none;
  outline: none;
  background: #2564fd;
  color: white;
  border-radius: 4px;
  font-weight: 600;
}
