<app-modal id="add-module" [allowClickOff]="true">
  <div class="modal-container">
    <div class="modal-top-container">
      <h1 class="modal-title">Add Module</h1>
    <button class="close-button" (click)="close();">
      <svg xmlns="http://www.w3.org/2000/svg" width="192" height="192" fill="#000000" viewBox="0 0 256 256"><rect width="256" height="256" fill="none"></rect><line x1="200" y1="56" x2="56" y2="200" fill="none" stroke="#000000" stroke-linecap="round" stroke-linejoin="round" stroke-width="24"></line><line x1="200" y1="200" x2="56" y2="56" fill="none" stroke="#000000" stroke-linecap="round" stroke-linejoin="round" stroke-width="24"></line></svg>
    </button>
    </div>
    <div class="modules-buttons-container">
      <button class="add-module-button" *ngFor="let m of modules" (click)="addModule(m.id)">
        <p class="icon">{{m.icon}}</p>
        <div>
          <p class="module-name">{{m.name}}</p>
          <p class="module-description">{{m.description}}</p>
        </div>
      </button>
    </div>
  </div>
</app-modal>