.modal-container {
  background: var(--modal-background);
  width: 600px;
  border-radius: 5px;
  box-shadow: 0 10px 30px 0 rgba(0,0,0,0.1);
  padding: 20px 20px 40px;
}

.modal-top-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  .modal-title {
    font-weight: 700;
    font-size: 1.4rem;
    color: var(--primary-font);
  }
  .close-button {
    border: none;
    background: transparent;
    cursor: pointer;
    padding: 5px;
    &:hover {
      svg *:not(rect) {
        stroke: var(--primary-font);
      }
    }
    svg {
      width: 26px;
      height: 26px;
      *:not(rect) {
        stroke: var(--secondary-font);
        transition: stroke .2s;
      }
    }
  }
}

.modules-buttons-container {
  width: 100%;
  margin-top: 30px;
  .add-module-button {
    display: flex;
    align-items: center;
    background: transparent;
    border: 1px solid var(--container-border);
    border-radius: 4px;
    text-align: left;
    padding: 15px 20px;
    width: 100%;
    cursor: pointer;
    margin-bottom: 20px;
    transition: border-color .2s, background .2s;
    &:last-child {
      margin-bottom: 0;
    }
    &:hover {
      border-color: var(--action-color);
      background: var(--add-module-button-active-background);
      p {
        color: var(--action-color);
      }
    }
    .icon {
      font-size: 2rem;
      margin-right: 20px;
    }
    .module-name {
      color: var(--primary-font);
      font-size: 1.1rem;
      font-weight: 600;
      margin-bottom: 2px;
      transition: color .2s;
    }
    .module-description {
      font-size: 0.9rem;
      font-weight: 400;
      color: var(--secondary-font);
      transition: color .2s;
    }
  }
}